        <!-- Schedule -->
        <section class="block background-color-grey-light" id="schedule">
            <div class="container">
                <header>
                    <h2><a href="#schedule" class="roll">Sesiones de Kleer en Ágiles 2015</a></h2>
                </header>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#day1" role="tab" data-toggle="tab">Jueves 22/Oct</a></li>
                    <li><a href="#day2" role="tab" data-toggle="tab">Viernes 23/Oct</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="day1">
                        <div class="panel-group" id="schedule-table-day1">
                            <div class="panel panel-default">
                                <a href="#day1-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>08:00</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-1" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>09:30</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Aenean suscipit euismod nisl, eget vehicula est bibendum et</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-2" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>10:45</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Coffee Break</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-3" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                        </div>
                    </div><!-- .tab-pane -->

                    <div class="tab-pane fade" id="day2">
                        <div class="panel-group" id="schedule-table-day2">
                            <div class="panel panel-default">
                                <a href="#day2-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>08:00</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Duis ornare tincidunt erat ac cursus. Etiam vel vulputate odio, id posuere dolor</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-1" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>10:30</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Vivamus at iaculis nisi. Quisque vitae congue lacus, eu blandit odio. Aliquam leo eros</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-2" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>12:00</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Lunch Time</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-4" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>13:30</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Sed ac libero iaculis, laoreet enim nec, pretium ante.</h3></div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-3" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                        </div>
                    </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </div><!-- .container -->
        </section>
        <!-- end Schedule -->

        <!-- Speakers -->
        <section id="speakers" class="block">
            <div class="container">
                <header>
                    <h2><a href="#speakers" class="roll">Speakers de Kleer en Ágiles 2015</a></h2>
                </header>

                <section class="speakers background-stripe">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#israel">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/8f90ff5fd8ecf9d6fe54953d856bba45?size=125" alt="">
                                </aside>
                                <h3>Israel Antezana</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Bolivia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#yamit">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/ce5bae662027787ad70ba1f7add1eaff?size=125" alt="">
                                </aside>
                                <h3>Yamit Cárdenas</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Colombia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#rick">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/d3968e159690384999aebc9f0f62b828?size=125" alt="">
                                </aside>
                                <h3>Ricardo Colusso</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#juan">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/72c191f31437b3250822b38d5f57705b?size=125" alt="">
                                </aside>
                                <h3>Juan Gabardini</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                    </div><!-- .row -->
                </section><!-- .speakers -->

                <section class="speakers background-stripe">
                    <div class="row">

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#hiro">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/3a39c4fe86b368b3d7499ab28997541d?size=125" alt="">
                                </aside>
                                <h3>Hiroshi Hiromoto</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#luis">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/a116e2b230e6738dc704cedd3662f07e?size=125" alt="">
                                </aside>
                                <h3>Luis Mulato</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Colombia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#angel">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/a7119e9b6be678f43708b31d0258c37c?size=125" alt="">
                                </aside>
                                <h3>Angel Núñez</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#gustavo">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/d884bfc94976ad940fc40e12dc156758?size=125" alt="">
                                </aside>
                                <h3>Gustavo Quiroz</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                      </div><!-- .row -->
                  </section><!-- .speakers -->

                  <section class="speakers background-stripe">
                      <div class="row">

                        <div class="col-md-3 col-sm-3">
                          &nbsp;
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#martin">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/d30d818ef612cb5f4de1b8514a8b1996?size=125" alt="">
                                </aside>
                                <h3>Martín Salías</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#pablo">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/d30d818ef612cb5f4de1b8514a8b1996?size=125" alt="">
                                </aside>
                                <h3>Martín Salías</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->


                        <div class="col-md-3 col-sm-3">
                          &nbsp;
                        </div>

                    </div><!-- .row -->
                </section><!-- .speakers -->


            </div><!-- .container -->
        </section>
        <!-- end Speakers -->
        <hr>

        <!-- Videos -->
        <section id="about" class="block expand left background-color-grey-light">
            <div class="container">
                <header>
                    <h2><a href="#about" class="roll">Sesiones Pasadas de Kleer</a></h2>
                </header>
                <section class="about">

                    <% @blog_posts.each do |key, post| %>

                      <div class="row">
                        <hr/>
                        <div class="col-md-6 col-sm-12">
                            <div class="information">
                                <div class="date">
                                    <div class="day"><%=post.day%></div>
                                    <div class="divider">/</div>
                                    <div class="month"><%=post.month%></div>
                                    <div class="divider">/</div>
                                    <div class="year"><%=post.year%></div>
                                </div>
                                <div class="location" style="white-space: normal;"><%=post.title%></div>
                                <!-- div class="address">The Bloomsbury Hotel ,16-22 Great Russell St</div -->
                            </div><!-- .information -->
                            <hr>
                            <p><%=post.more%></p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="video">
                                <iframe width="500" height="280" src="https://www.youtube.com/embed/<%=post.video_code%>" frameborder="0" allowfullscreen></iframe>
                            </div><!-- .video -->
                        </div><!-- .col-md-6 -->
                        <!-- p><a href="/<%=session[:locale]%>/blog/<%=post.codename%>#disqus_thread"><%=t("comments")%></a></p -->
                        <% if post.tags.size > 0 %>
                            <%=t("published_under")%>:<br/>
                            <% post.tags.each do |tag_code, tag_name| %>
                              <a href="/<%=session[:locale]%>/blog/tag/<%=tag_code%>"><span class="label label-large label-primary"><%= tag_name %></span></a>
                            <% end %>
                          <% end %>
                      </div><!-- .row -->
                  
                    <% end %>

                    
                </section><!-- .about -->
            </div><!-- .container -->
        </section>
        <!-- end About -->

        