<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <%= erb(:_twitter_card, :layout => false) %>
	<%= erb(:_facebook_og, :layout => false) %>
	<link rel="shortcut icon" href="/img/favicon.ico">
    <title><%=t("site.name")%></title>
</head>

<body data-spy="scroll" data-target=".navigation" data-offset="150" id="top">
<%= erb(:_facebook_sdk, :layout => false) %>
<!-- Wrapper -->
<div class="wrapper">

    <!-- Navigation -->
    <%= erb(:_navbar, :layout => false) %>
<!-- end Navigation -->

    <% if @active_section == "index" %>
        <!-- Slider -->
        <div class="slider">
            <div class="overlay">
                <div class="container">
                    <div class="information">
                        <div><i class="fa fa-map-marker"></i>Montevideo</div>
                        <div><i class="fa fa-calendar"></i>22/10/2015</div>
                    </div>
                    <div class="title-wrapper">
                        <div class="title expand move"><h1>¡Estuvimos en Ágiles 2015!</h1></div>
                        <div class="title expand move"><h1>VIII Jornadas Latinoamericanas de Metodologías Ágiles</h1></div>
                    </div>
                    <!-- div class="call-to-action">
                        <a href="#register" class="roll">Register!</a>
                    </div -->
                </div>
            </div>
            <div id="slider" class="owl-carousel has-parallax">
                <div class="slide">
                    <img src="/img/slide.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/img/slide-02.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- end Slider -->
    <% end %>

    <!-- Page Content -->
    <div id="page-content">

    	<%= yield %>

    </div>
    <!-- end Page Content -->

<%= erb(:_modal_trainers, :layout => false) %>


<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/smoothscroll.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="/js/icheck.min.js"></script>
<script type="text/javascript" src="/js/jquery.eachStep.min.js"></script>
<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<%= erb(:_analytics, :layout => false) %>

</body>
</html>
